@model USM.Models.FACULDADE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FACULDADE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOME_FACULDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOME_FACULDADE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_FACULDADE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
