@model USM.Models.PONTOS_PARADA_SALVADOR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PONTOS_PARADA_SALVADOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOME_PONTO_PARADA_SALVADOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOME_PONTO_PARADA_SALVADOR)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PONTO_SALVADOR }) |
    @Html.ActionLink("Back to List", "Index")
</p>
